@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.ck-powered-by {
    display: none;
}

.ck-content {

    // ----------------- VARIABLES ----------------- //
    // ------------------- COLORS ------------------ //
    $text-color: hsl(var(--foreground));
    $bg-color: hsl(var(--background));
    $selection-color: #00ffd7;
    $selection-text-color: #000000;
    $border-color: hsl(var(--border));
    $link-color: #00ffd7;
    $secondary-color: hsl(var(--muted));
    $secondary-text-color: hsl(var(--muted-foreground));

    --marker-yellow: #f7df1e;
    --marker-yellow-text: #000000;
    --marker-green: #00ff00;
    --marker-green-text: #000000;
    --marker-blue: #00ffd7;
    --marker-blue-text: #000000;
    --marker-pink: #ff00ff;
    --marker-pink-text: #000000;
    $pen-red: transparent;
    $pen-red-text: #ff0000;
    $pen-green: transparent;
    $pen-green-text: #00ff00;

    $todo-list-checkmark-color: #00ffd7;
    // ------------------- FONTS ------------------- //
    $font: 'Barlow', sans-serif;
    $font-head: 'Barlow Condensed', sans-serif;
    // ----------------- VARIABLES ----------------- //

    width: 100%;
    height: auto;
    max-width: 900px;
    position: relative;
    padding: 0;
    display: block;
    margin: 0 auto;

    border: none;
    color: $text-color;
    background-color: $bg-color !important;

    font-size: 16px !important;
    font-family: $font !important;

    @media screen and (min-width: 600px) {
        font-size: 18px !important;
    }

    ::selection {
        color: $selection-text-color !important;
        background: $selection-color !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.55em;
        color: $text-color;
        padding: 0.3em 0 0.2em 0;
        margin-top: 0.5em;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 600;
        font-family: $font-head;
    }

    h2 {
        font-size: 1.8em;
        font-weight: 600;
        font-family: $font-head;
        border-bottom: 1px solid $border-color;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 1.25em;
        font-weight: 600;
        font-family: $font-head;
    }

    h4 {
        font-size: 1.15em;
        font-weight: 600;
        font-family: $font-head;
    }

    h5 {
        font-size: 1.13em;
        font-weight: 600;
        font-family: $font-head;
    }

    h6 {
        font-size: 1.1em;
        font-weight: 600;
        font-family: $font-head;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.75em 0 0.75em 0;
    }

    strong {
        font-weight: 600;
    }

    i {
        font-style: italic;
    }

    u {
        position: relative;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -4px;
            left: 0;
            background-color: currentColor;
        }
    }

    s {
        text-decoration: line-through;
    }

    a {
        cursor: pointer;
        // color: (var(--link-primary-color));
        color: $link-color;
        text-decoration: none;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0%;
            height: 1px;
            background-color: currentColor;
            transition: width 0.3s ease-in-out;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    blockquote {
        position: relative;
        z-index: 0;
        padding: 0.7em;
        margin: 1em 0;
        overflow: visible !important;
        border-radius: 0.5em;
        background-color: $secondary-color !important;
        border-left: 5px solid $secondary-text-color !important;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -1.7em;
            left: 0.5em;
            width: 4em;
            height: 4em;
            background-color: $secondary-text-color;

            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23000000'%3E%3Cpath d='M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z'/%3E%3C/svg%3E");
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
        }
    }

    mark:not([class*="pen-"]) {
        --marker-color: var(--marker-yellow);
        --marker-text-color: var(--marker-yellow-text);

        padding-inline: .4em;
        color: var(--marker-text-color) !important;
        background-color: transparent !important;

        background-image: linear-gradient(to bottom right, transparent 50%, var(--marker-color) 50%),
            linear-gradient(var(--marker-color), var(--marker-color)),
            linear-gradient(to top left, transparent 50%, var(--marker-color) 50%);

        background-size: 0.55em 2em,
            calc(100% - 1em + 1px) 2em,
            0.55em 2em;

        background-position: left center, center, right center;
        background-repeat: no-repeat;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &.marker-yellow {
            --marker-color: var(--marker-yellow) !important;
            --marker-text-color: var(--marker-yellow-text) !important;
        }

        &.marker-green {
            --marker-color: var(--marker-green) !important;
            --marker-text-color: var(--marker-green-text) !important;
        }

        &.marker-pink {
            --marker-color: var(--marker-pink) !important;
            --marker-text-color: var(--marker-pink-text) !important;
        }

        &.marker-blue {
            --marker-color: var(--marker-blue) !important;
            --marker-text-color: var(--marker-blue-text) !important;
        }
    }

    .pen-red {
        color: $pen-red-text !important;
        background-color: $pen-red !important;
    }

    .pen-green {
        color: $pen-green-text !important;
        background-color: $pen-green !important;
    }

    // Image Styles
    .image {
        display: table;
        clear: both;
        text-align: center;
        margin: 0.9em auto;
        width: auto !important;
        height: auto !important;
        min-width: 50px !important;
        max-height: 400px !important;
        filter: drop-shadow(0px 0px 3px $border-color);

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 400px;
            width: 100%;
            height: 100%;
            border-radius: 0.5em;
        }

        >figcaption {
            display: table-caption;
            caption-side: bottom;
            word-break: break-word;
            color: $secondary-text-color;
            background-color: $secondary-color;
            // padding: .6em;
            padding: .3em !important;
            font-size: .75em;
            outline-offset: -1px;
            border-radius: 0 0 0.5em 0.5em;
            opacity: 0.8;
        }

        &:has(>figcaption) {
            img {
                border-radius: 0.5em 0.5em 0 0;
            }
        }
    }

    .image-inline {
        display: inline-flex;
        max-width: 100%;
        align-items: flex-start;

        picture {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            max-width: 100%;
        }

        img {
            flex-grow: 1;
            flex-shrink: 1;
            max-width: 100%;
        }
    }

    .image-style-block-align-left {
        max-width: calc(100% - var(--ck-image-style-spacing));
        margin-left: 0;
        margin-right: auto;
    }

    .image-style-block-align-right {
        max-width: calc(100% - var(--ck-image-style-spacing));
        margin-right: 0;
        margin-left: auto;
    }

    .image-style-align-left {
        clear: none;
        float: left;
        margin-right: var(--ck-image-style-spacing);
    }

    .image-style-align-right {
        clear: none;
        float: right;
        margin-left: var(--ck-image-style-spacing);
    }

    .image-style-side {
        float: right;
        margin-left: var(--ck-image-style-spacing);
        max-width: 50%;
    }

    .image-style-align-center {
        margin-left: auto;
        margin-right: auto;
    }

    p+.image-style-align-left {
        margin-top: 0;
    }

    p+.image-style-align-right {
        margin-top: 0;
    }

    p+.image-style-side {
        margin-top: 0;
    }

    .image-inline.image-style-align-left {
        margin-top: var(--ck-inline-image-style-spacing);
        margin-bottom: var(--ck-inline-image-style-spacing);
        margin-right: var(--ck-inline-image-style-spacing);
    }

    .image-inline.image-style-align-right {
        margin-top: var(--ck-inline-image-style-spacing);
        margin-bottom: var(--ck-inline-image-style-spacing);
        margin-left: var(--ck-inline-image-style-spacing);
    }

    .image.image_resized {
        max-width: 100%;
        display: block;
        box-sizing: border-box;

        img {
            width: 100%;
        }

        >figcaption {
            display: block;
        }
    }

    // Image Styles End

    .media {
        clear: both;
        margin: 0.9em auto !important;
        display: block;
        width: 100%;
        min-width: 15em;
        max-width: 600px;
        border-radius: 0.5em;

        & div {
            border-radius: 0.5em;

            iframe {
                border-radius: 0.5em;
            }
        }
    }

    code:not([class*=language-]) {
        background-color: $secondary-color !important;
        padding: .15em;
        border-radius: 2px;
    }

    pre[data-language] {
        position: relative;
        background-color: $secondary-color !important;
        color: $secondary-text-color !important;
        padding: 1em;
        margin: 0.5em 0;
        border: none !important;
        border-radius: 0.5em !important;
        overflow-x: auto;

        &::after {
            content: attr(data-language) !important;
            position: absolute !important;
            padding: 0.3em 0.5em !important;
            right: 10px !important;
            top: -1px !important;
            border-radius: 0 0 0.5em 0.5em !important;

            background: $bg-color !important;
            color: $text-color !important;
            font-family: var(--ck-font-face) !important;
            font-size: 10px !important;
            line-height: 16px !important;
            white-space: nowrap !important;
        }
    }

    code[class*=language-],
    pre[data-language] {
        text-align: left !important;
        white-space: pre !important;
        word-spacing: normal !important;
        word-break: normal !important;
        word-wrap: normal !important;
        -moz-tab-size: 4 !important;
        -o-tab-size: 4 !important;
        tab-size: 4 !important;
        -webkit-hyphens: none !important;
        -moz-hyphens: none !important;
        -ms-hyphens: none !important;
        hyphens: none !important;

        &::selection {
            background: $selection-color !important;
            color: $selection-text-color !important;
        }

        @media print {
            text-shadow: none;
            white-space: pre-wrap;
            -moz-tab-size: 2;
            -o-tab-size: 2;
            tab-size: 2;
        }
    }

    .table {
        margin: 0.9em auto;
        display: table;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            height: 100%;
            border: 1px double $border-color;
            overflow: hidden;

            td {
                min-width: 2em;
                padding: .4em;
                border: 1px solid $border-color;
            }

            th {
                min-width: 2em;
                padding: .4em;
                border: 1px solid $border-color;
                font-weight: bold;
                background: hsla(0, 0%, 0%, 5%);
            }
        }

        >figcaption {
            display: table-caption;
            caption-side: top;
            word-break: break-word;
            text-align: center;
            color: $secondary-text-color;
            background-color: $secondary-color;
            padding: .6em;
            font-size: .75em;
            outline-offset: -1px;
        }

        .ck-table-resized {
            table-layout: fixed;
        }

        td {
            position: relative;
        }

        th {
            position: relative;
        }
    }

    ol,
    ul {
        margin-left: 2em !important;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.5em !important;
    }

    ol {
        list-style-type: decimal;

        ol {
            list-style-type: lower-latin;

            ol {
                list-style-type: lower-roman;

                ol {
                    list-style-type: upper-latin;

                    ol {
                        list-style-type: upper-roman;
                    }
                }
            }
        }
    }

    ul {
        list-style-type: disc;

        ul {
            list-style-type: circle;

            ul {
                list-style-type: square;

                ul {
                    list-style-type: square;
                }
            }
        }
    }

    li {
        margin: 0.3em 0;

        p {
            padding: 0.3em 0 0.2em 0;
        }
    }

    .todo-list {
        list-style: none;

        li {
            margin-bottom: 5px;

            .todo-list {
                margin-top: 5px;
            }
        }

        .todo-list__label {
            >input {
                -webkit-appearance: none;
                appearance: none;
                display: inline-block;
                position: relative;
                width: var(--ck-todo-list-checkmark-size);
                height: var(--ck-todo-list-checkmark-size);
                vertical-align: middle;
                border: 0;
                left: -25px;
                margin-right: -15px;
                right: 0;
                margin-left: 0;

                &::before {
                    display: block;
                    position: absolute;
                    box-sizing: border-box;
                    content: '';
                    width: 100%;
                    height: 100%;
                    border: 1px solid $border-color;
                    border-radius: 2px;
                    transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
                }

                &::after {
                    display: block;
                    position: absolute;
                    box-sizing: content-box;
                    pointer-events: none;
                    content: '';
                    left: calc(var(--ck-todo-list-checkmark-size) / 3);
                    top: calc(var(--ck-todo-list-checkmark-size) / 5.3);
                    width: calc(var(--ck-todo-list-checkmark-size) / 5.3);
                    height: calc(var(--ck-todo-list-checkmark-size) / 2.6);
                    border-style: solid;
                    border-color: $border-color;
                    border-width: 0 calc(var(--ck-todo-list-checkmark-size) / 8) calc(var(--ck-todo-list-checkmark-size) / 8) 0;
                    transform: rotate(45deg);
                }
            }

            >input[checked] {
                &::before {
                    background: $todo-list-checkmark-color !important;
                    border-color: $todo-list-checkmark-color !important;
                }

                &::after {
                    border-color: $border-color !important;
                }
            }

            .todo-list__label__description {
                vertical-align: middle;
            }
        }
    }

    .page-break {
        position: relative;
        clear: both;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            position: absolute;
            border-bottom: 2px dashed $border-color !important;
            width: 100%;
        }

        .page-break__label {
            position: relative;
            z-index: 1;
            padding: .3em .6em;
            display: block;
            text-transform: uppercase;
            border: 1px solid $border-color;
            border-radius: 2px;
            font-family: $font;
            font-size: 0.75em;
            font-weight: bold;
            color: $text-color;
            background: $secondary-color;
            box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    hr {
		background-color: $border-color !important;
        height: 2px !important;
	}

	.mention {
		background: var(--ck-color-mention-background);
		color: $text-color;
	}

    [dir="rtl"] {
        blockquote {
            border-left: 0;
            border-right: solid 5px $secondary-text-color !important;
        }

        .table {
            th {
                text-align: right;
            }
        }
    }

    [dir="ltr"] {
        .table {
            th {
                text-align: left;
            }
        }
    }

    @media print {
        .page-break {
            padding: 0;

            &::after {
                display: none;
            }
        }
    }
}